# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.metadata
code/demo
code/pagerank/.project
code/pagerank/dataset
code/pagerank/graphviz_graph-visualization
code/pagerank/lib
code/pagerank/testbed
code/pagerank/**/*.pdf

code/p2p-search/.project
code/p2p-search/demodata
code/p2p-search/lib
code/p2p-search/logs

.svn
*~
*.pickle
*.log
*.png
#*.pdf
*pydevproject
*.zip
*.ps
*.svg
*.gif
*.txt

*.aux
*.backup
*.bak.*
*.zuml
*.eps
*.vsd
*.dvi

presentation/beamer
presentation/delft
presentation/pres
presentation/*.ppt

experiments

#thesis
thesis/img
thesis/visio-models
*.clo
*_OLD*
*.blg

